@import 'frontend/global/scss/variables/main';


.navbar {
    border-bottom: 1px solid #ececec;
    

    .container {
        @include media-breakpoint-up(lg) {
            padding: 1.4rem 1rem;
        }
        @include media-breakpoint-down(lg) {
            padding: 0.5rem 1rem;
        }
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
    
    .navbar-brand {
        align-items: center;
        font-size: 30px;
        color: #4d4d4d;
        transition: color 0.2s;

        svg {
            height: 45px;
            margin-right: 20px;
            fill: $color-primary;
            transition: color 0.2s;
        }
        &:hover {
            svg {
                fill: #0c7cc4;
            }
        }
    }
    .nav-item.dropdown {
        &:hover > .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    }
    .navbar-collapse {
        .dropdown-toggle {
            &::after {
                vertical-align: middle;
            }
            &:active {
                pointer-events: none;
            }
        }
        
        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            
            .nav-link {
                margin-left: 20px;
            }
        }
    }
    .lang-switcher {
        width: fit-content;

        .lang-menu {
            min-width: 100%;
        
            .lang-item {
                display: flex;
                justify-content: center;
                padding: 0.4rem 1.5rem;
            }
        }
    }

    &.fixed-top {
        background: white;
        $padding: 0.3rem;
        padding: $padding;
        
        .container-fluid {
            padding: 0;
    
            .navbar-brand {
                font-size: 1rem;
                padding: 0;
        
                svg {
                    height: 25px;
                    margin-right: 0.5rem;
                    fill: $color-primary;
                    transition: color 0.2s;
                }
                &:hover {
                    svg {
                        fill: #0c7cc4;
                    }
                }
            }
        }
    }
}

.search-form {
    margin-left: 20px;
    
    .search-results {
        position: absolute;
        background: white;
        padding: 20px;
        width: 500px;
        box-shadow: #00000033 0 6px 6px 5px;
        right: 0;

        #search-results-count-block {
            color: gray;
        }
    }

}

.menu-column {
    padding-left: 0;

    .menu-container {
        background: #f8f9fa;
        
        #menu {
            
            padding-left: 36px;
            padding-top: 36px;
            
            [aria-expanded="true"] {
                color: blue;
            }
            [aria-expanded="false"] {
                color: red;
            }
        }
    }
}

.container-custom {
    display: flex;
    padding: 0;
    justify-content: center;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
