@import 'frontend/global/scss/variables/main';


.main-column {
    margin-bottom: 25px;
}

.aside-right {
    padding-left: 20px;
    
    @include media-breakpoint-down(md) {
        .djangocms-toc {
            display: none;
        }
    }
}
