@import 'frontend/global/scss/variables/main';


.form-group {
    .bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0 !important;
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
          box-shadow: $input-box-shadow, $input-focus-box-shadow;
        } @else {
          box-shadow: $input-focus-box-shadow;
        }
    }
    .dropdown-menu.show:focus {
        outline: 0;
    }
}


.invalid-feedback {
    display: block;
}
.grecaptcha-badge {
    display: none;
}

.dropdown-item {

    &:active {
        color: white !important;
    }
}
