@import '~tocbot/src/scss/tocbot-core';
@import '~tocbot/src/scss/tocbot-default-theme';
@import 'frontend/global/scss/variables/main';


$cms-toolbar-height: 46px;

// must correspond to fixedPosTopCssOffset in main.ts
$fixed-pos-top-css-offset: 10px;

$padding-top: 36px;
$fixed-pos-top-css-offset-with-toolbar: $cms-toolbar-height + $padding-top;


.djangocms-toc {
    position: relative;
    top: 0;
    padding-left: 36px;
    padding-top: $padding-top;
    font-size: 14px;

    &.is-position-fixed {
        position: fixed;
        top: $fixed-pos-top-css-offset;
    }
    
    &.is-position-fixed-with-toolbar {
        position: fixed;
        top: $fixed-pos-top-css-offset-with-toolbar;
        padding-top: 0;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    ul ul {
        padding-left: 1.5em;
    }
    
    li a {
        display: inline-block;
        padding: 5px 0;
        transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
        color: #aaa;
        text-decoration: none;
    }
    
    .toc-link::before {
        background-color: #EEE;
        content: ' ';
        display: inline-block;
        height: inherit;
        left: 0;
        margin-top: -1px;
        position: absolute;
        width: 2px;
    }
    
    .is-active-link{
        color: $color-primary;
        font-weight: normal;

        &::before {
            background-color: $color-primary;
        }
    }

}
