{% extends 'base.html' %}


{% load cms_tags sekizai_tags staticfiles %}

{% block messages %}{# remove from here to move them below #}{% endblock messages %}

{% block content %}
    
    <header>
        {% placeholder 'header' %}
    </header>
    
    {% include 'includes/messages.html' with messages=messages %}

    <main class="container">
        <div class="row">
            <article class="col-lg-17 col-md-24 main-column">
                {% placeholder 'content' %}
            </article>
                
            <aside class="col-7 aside-right">
                {% placeholder 'right column' %}
            </aside>
        </div>
    </main>

{% endblock %}
