@import 'variables/main';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$header-color: #5d5d5d;

body {
  font-family: 'Roboto', sans-serif !important;
}

h1 {
    margin-top: 29px;
    margin-bottom: 14.5px;
    font-size: 1.9rem;
    padding-bottom: 5px;
    border-bottom: 2px solid $color-primary;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    color: $header-color;
}

h2 {
    margin-top: 2.1rem;
    font-size: 1.55rem;
}
h3 {
    margin-top: 1.8rem;
    font-size: 1.4rem;
}
h4 {
    margin-top: 1.8rem;
    font-size: 1.15rem;
}
h5, h6 {
    margin: 1.1rem 0;
    font-size: 1.15rem;
}
